{% extends "base_email.html" %}
{% block title %}
    Issue Resolved
{% endblock title %}
{% block content %}
    <p>Dear {{ issue.reported_by.full_name }},</p>
    <p>
        Your reported issue titled <strong>{{ issue.title }}</strong> has been resolved.
    </p>
    <p>
        Description: <strong>{{ issue.description }}</strong>
    </p>
    <p>
        Resolved By: <strong>{{ issue.assigned_to.full_name }}</strong>
    </p>
    <p>
        Resolved On: <strong>{{ issue.resolved_on }}</strong>
    </p>
    <p>Thank you for bringing this to our attention.</p>
    <p>
        Regards,
        <br />
        The {{ site_name }} Team
    </p>
{% endblock content %}
